<script>
  var tour = new Tour({
  storage: false,
  onStart: function(tour) {
    $('a').on('click', function(e) {
      e.preventDefault();
    });
  },
  onEnd: function(tour) {
    $('a').unbind('click');
  },
  steps: [
  {
    orphan: true,
    backdrop: true,
    placement: 'top',
    title: "Welcome to Galaxy Quest!",
    content: "We've built a machine learning algorithm, and we'd love to share our findings with you!"
  },
  {
    element: "#step-four",
    title: "Click Me!",
    content: "Our algorithm analyzes these images and produces a classification for us."
  },
  {
    element: "#step-three",
    placement: 'left',
    title: "Checkout Our Results!",
    content: "These results reflect our algorithm's classification (our algorithm actually outputs 37 total classifications!)"
  },
  {
    element:"#step-five",
    placement: 'bottom',
    title: 'Last Stop - The Guide',
    content: 'We put together some helpful information to get you started on making your own Galaxy Classifier.  Thanks for visiting!'
  }
]});

// Initialize the tour
tour.init();

// Start the tour
tour.start();

</script>
<div class = "all" ng-controller='MainController' ng-app="galaxyApp">
 <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval=3000>
      <!-- Indicators -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="../images/bluegalaxy.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h2 id="step-one"class="title">Guidelines for Applying your Machine Learning Algorithm</h2>
              <h3>"A Hitchhikers Guide to Classifying Galaxies"</h3>
              <a class="btn btn-lg btn-primary" href="#/theGuide" role="button">View Now</a>
            </div>
          </div>
        </div>
      </div>
    <div class="examineMachine">
      <h2>Interact with our Galaxy Classifying Machine</h2>
    </div>
  </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  <div class="container index">
    <div class="content galaxyclass" ng-controller='GalaxyClassController'>
      <div class="row galaxyClass">
        <div class="col-md-5 span9" style="width: 400px;">
          <div class="panel-heading" style="width: 80%; border-radius: 15px;  margin-left: 10%">
            <h2 id="step-two" class="text-info text-center" style="color: #FFFFFF">Algorithm Inputs</h2>
          </div>
          <img class="img-responsive img-rounded galaxy" style="margin-left: 10%; width: 300px" ng-src="{{galaxyURL}}">
          <div><br> 
            <button id="step-four"ng-click="nextGalaxy();" type="button" class="btn btn-primary">Classify Next Galaxy</button> 
          </div>
        </div>
        <div class="col-md-7 span3">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading" style="background-color : #101010; text-shadow: 3px 3px 3px #333333;">
                <h2 id="step-three" class="text-info text-center" style="color: #FFFFFF">Algorithm Outputs</h2>
              </div>
              <!-- Table -->
              <table class="table text-center" style="color: #FFFFFF;">
                <tr>
                  <th class="text-center"><h4> Classification </h4></th>
                  <th class="text-center"><h4> Percent likelihood </h4></th>
                </tr>
                <tr >
                  <td style="vertical-align: middle;"><img src="../../images/Smooth.png" style="width: 75px"/>
                    <div style="font-size:15px">Smooth</div>
                  </td>
                  <td style="vertical-align: middle;"><h2> {{class1_1}} % </h2></td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;"> <img src="../../images/FeaturesOrDisk.png" style="width: 75px"/>
                    <div style="font-size:15px">Features or disk</div>
                  </td>
                  <td style="vertical-align: middle;"><h2> {{class1_2}} % </h2></td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;"> <img src="../../images/StarOrArtifcat.png" style="width: 75px"/>
                    <div style="font-size:15px; margin-bottom: 10px;">Star or artifact</div>
                  <td style="vertical-align: middle;"><h2> {{class1_3}} % </h2></td>
                </tr>
                <tr> </tr>
              </table>
              </div>
            </div>
        </div>
      </div>
    </div>

      <!-- START THE FEATURETTES -->

<!--       <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <a href="#/algorithms">
            <img class="featurette-image img-responsive" src="../images/machinelearninglogo.jpg"></a>
          <p>Credit: <a href="https://www.coursera.org/course/machlearning">coursera.org</a></p>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Machine Learning. <span class="text-muted">The Basics</span></h2>
        </div>
          <p class="lead"></p>Explore the fundamentals of machine learning and see how a Random Forest algorithm works.</p>
      </div>
 -->
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; Created at Hack Reactor Inc - Cohort 9 &middot;</p>
      </footer>

    </div><!-- /.container -->
  </div>
</div>

<script src="../../styles/bootstrapDist/js/bootstrap.min.js"></script>
<script src="../../styles/bootstrapIndexAssets-js/docs.min.js"></script>


