<div class = "all" ng-controller='MainController' ng-app="galaxyApp">
  <div class="content">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval=3000>
      <!-- Indicators -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="../images/bluegalaxy.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>Guidelines for Applying your Machine Learning Algorithm</h1>
              <h2>"A Hitchhikers Guide to Classifying Galaxies"</h2>
              <a class="btn btn-lg btn-primary" href="#/theGuide" role="button">View Now</a></p>
            </div>
          </div>
        </div>
      </div>
  </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  <div class="container index">
    <div class="chapterTitle">
      <h2>Interact with our Galaxy Classifying Machine</h2>
    </div>
    <div class="content galaxyclass" ng-controller='GalaxyClassController'>
      <div class="row galaxyClass">
        <div class="col-md-5">
          <div class="panel-heading " style="background-color : #101010; text-shadow: 3px 3px 3px #333333;">
            <h2 class="text-info text-center" style="color: #FFFFFF">Algorithm Inputs</h2>
          </div>
          <img class="img-responsive img-rounded galaxy" style="width: 500px"ng-src="{{galaxyURL}}">
          <div class="col-md-3 col-md-offset-4"> <button ng-click="nextGalaxy();" type="button" class="btn btn-primary">Next Galaxy</button> </div>
        </div>
        <div class="col-md-7">
          <div class="row tableWhole">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading " style="background-color : #101010; text-shadow: 3px 3px 3px #333333;">
                <h2 class="text-info text-center" style="color: #FFFFFF">Algorithm Outputs</h2>
              </div>
              <!-- Table -->
              <table class="table text-center" style="color: #FFFFFF;">
                <tr>
                  <th class="text-center"><h3> Classification </h3></th>
                  <th class="text-center"><h3> Percent likelihood </h3></th>
                </tr>
                <tr >
                  <td style="vertical-align: middle;"><img src="../../images/Smooth.png" /><h5> Smooth </h5></td>
                  <td style="vertical-align: middle;"><h2> {{class1_1}} % </h2></td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;"> <img src="../../images/FeaturesOrDisk.png" /><h5> Features or disk </h5></td>
                  <td style="vertical-align: middle;"><h2> {{class1_2}} % </h2></td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;"> <img src="../../images/StarOrArtifcat.png" /><h5> Star or artifact </h5></td>
                  <td style="vertical-align: middle;"><h2> {{class1_3}} % </h2></td>
                </tr>
                <tr> </tr>
              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- START THE FEATURETTES -->

<!--       <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <a href="#/algorithms">
            <img class="featurette-image img-responsive" src="../images/machinelearninglogo.jpg"></a>
          <p>Credit: <a href="https://www.coursera.org/course/machlearning">coursera.org</a></p>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Machine Learning. <span class="text-muted">The Basics</span></h2>
        </div>
          <p class="lead"></p>Explore the fundamentals of machine learning and see how a Random Forest algorithm works.</p>
      </div>
 -->
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; Hack Reactor Inc &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->
  </div>
</div>

<script src="../../styles/bootstrapDist/js/bootstrap.min.js"></script>
<script src="../../styles/bootstrapIndexAssets-js/docs.min.js"></script>


