<script>
  var tour = new Tour({
  storage: false,
  steps: [
  {
    element: ".carousel-caption",
    title: "Welcome to Galaxy Quest!  Over a span of two weeks, we built a machine to classify galaxies.",
    content: "We'd like to explain a few short things first, but if you'd like to explore on your own, you can always exit the tour!"
  },
  {
    element: "#step-two",
    title: "This galaxy is our input to the machine algorithm",
    content: "Our algorithm will analyze the image to the left and produce a classification for us."
  },
  {
    element: "#step-three",
    placement: 'top',
    title: "These are the results the algorithm gives us back",
    content: "The results reflect the percent likelihood that a galaxy is of a certain type"
  },
  {
    element: "#step-four",
    placement:  'bottom',
    title: 'Change the picture!',
    content: 'Click the button to give the algorithm another galaxy to classify.  Watch the percentages to the right change!'
  },
  {
    element:"#step-five",
    placement: 'bottom',
    title: 'Last stop on our tour- The Guide',
    content: 'We put together some helpful information to get you started on making your own Galaxy Classifier.  Thanks for visiting!'
  }
]});

// Initialize the tour
tour.init();

// Start the tour
tour.start();
</script>
<div class = "all" ng-controller='MainController' ng-app="galaxyApp">
 <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval=3000>
      <!-- Indicators -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="../images/bluegalaxy.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h2 class="title">Guidelines for Applying your Machine Learning Algorithm</h2>
              <h3>"A Hitchhikers Guide to Classifying Galaxies"</h3>
              <a class="btn btn-lg btn-primary" href="#/theGuide" role="button">View Now</a>
            </div>
          </div>
        </div>
      </div>
  </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  <div class="container index">
    <div class="chapterTitle">
      <h2>Interact with our Galaxy Classifying Machine</h2>
    </div>
    <div class="content galaxyclass" ng-controller='GalaxyClassController'>
      <div class="row galaxyClass">
        <div class="col-md-5">
          <div class="panel-heading" style="border-radius: 15px">
            <h2 id="step-two" class="text-info text-center" style="color: #FFFFFF">Algorithm Inputs</h2>
          </div>
          <img class="img-responsive img-rounded galaxy" style="width: 500px"ng-src="{{galaxyURL}}">
          <div class="col-md-3 col-md-offset-4"><br> 
            <button ng-click="nextGalaxy();" type="button" id="step-four" class="btn btn-primary">Input Next Galaxy</button> 
          </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading" style="background-color : #101010; text-shadow: 3px 3px 3px #333333;">
                <h2 id="step-three" class="text-info text-center" style="color: #FFFFFF">Algorithm Outputs</h2>
              </div>
              <!-- Table -->
              <table class="table text-center" style="color: #FFFFFF;">
                <tr>
                  <th class="text-center"><h3> Classification </h3></th>
                  <th class="text-center"><h3> Percent likelihood </h3></th>
                </tr>
                <tr >
                  <td style="vertical-align: middle;"><img src="../../images/Smooth.png" /><h5> Smooth </h5></td>
                  <td style="vertical-align: middle;"><h2> {{class1_1}} % </h2></td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;"> <img src="../../images/FeaturesOrDisk.png" /><h5> Features or disk </h5></td>
                  <td style="vertical-align: middle;"><h2> {{class1_2}} % </h2></td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;"> <img src="../../images/StarOrArtifcat.png" /><h5> Star or artifact </h5></td>
                  <td style="vertical-align: middle;"><h2> {{class1_3}} % </h2></td>
                </tr>
                <tr> </tr>
              </table>
              </div>
            </div>
        </div>
      </div>
    </div>

      <!-- START THE FEATURETTES -->

<!--       <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <a href="#/algorithms">
            <img class="featurette-image img-responsive" src="../images/machinelearninglogo.jpg"></a>
          <p>Credit: <a href="https://www.coursera.org/course/machlearning">coursera.org</a></p>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Machine Learning. <span class="text-muted">The Basics</span></h2>
        </div>
          <p class="lead"></p>Explore the fundamentals of machine learning and see how a Random Forest algorithm works.</p>
      </div>
 -->
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; Hack Reactor Inc &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->
  </div>
</div>

<script src="../../styles/bootstrapDist/js/bootstrap.min.js"></script>
<script src="../../styles/bootstrapIndexAssets-js/docs.min.js"></script>


