<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/jquery.localScroll/jquery.localScroll.min.js"></script>
    <script src="../bower_components/jquery.scrollTo/jquery.scrollTo.min.js"></script>  
    <script src="../styles/bootstrapDist/js/bootstrap.min.js"></script>
    <script src="../styles/bootstrapIndexAssets-js/docs.min.js"></script>
    <script src='../bower_components/angular/angular.js'></script>
    <script src='../bower_components/angular-route/angular-route.js'></script>
    <script src='../scripts/randomTreeGenerator.js'></script>
    <script src='../scripts/app.js'></script>
    <script src="../../scripts/controllers/mlintro.js"></script>
    <script src='../scripts/directives/visualizationDirective.js'></script>
    <script src='../scripts/directives/randomForestsDirective.js'></script>
    <script src='../scripts/directives/featuresDirective.js'></script>
    <script src="../bower_components/d3/d3.min.js" charset="utf-8"></script>
    <script src="../bower_components/c3/c3.min.js"></script>  

    <link rel="shortcut icon" href="./../assets/ico/favicon.ico">
    <link rel='stylesheet' href="../styles/bootstrapDist/css/bootstrap.min.css" >
    <link rel='stylesheet' href="../styles/index.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/c3/c3.css">
    <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>


    <title>A Visual Guide to Machine Learning</title>

  </head>

  <body ng-app='galaxyApp' ng-controller='FrameController'>
    <div class="total-wrapper">
      <div class="navbar-wrapper">
        <div class="container">
          <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Galaxy Quest</a>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="/">Home</a></li>
                  <li><a href='/theGuide'>The Guide</a><li>
                  <li><a href="/team">The Team</a></li>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="container">
        <div ng-view='  '></div>
      </div>
    </div>
  </body>
</html>
