/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  -webkit-backface-visibility: hidden;
 
  /*color: #5a5a5a;*/
  /*background-color: #ccc;*/
}
.col-lg-4 {
  text-align: center;
}

.algo {
  margin-left: 10%;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.regression {
  font: 10px sans-serif;
}
.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.vis {
  border: 1px solid black;
}
.path {
  fill: steelblue;
}
.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}
.text {
  width: 85%;
  padding: 15px;
}

.content {
  margin-top: 3%;
}

.d3features {
  width: 90%;
}

.subNav {
  text-align: center;
}

.subNav a {
  padding: 15px;
}

.lead, .featurette-heading {
  text-align: center;
  font-size: 18px;
}
.carousel-caption{
  text-shadow: 3px 3px 3px black;
  font-family: 'Lemon', cursive;
}
.carousel-inner{
  border-radius: 5px;
}

.chapterTitle {
  text-align: center;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(#fff, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hypothesis{
  text-align: center;
}
.btn-primary {
  border: 1px solid black;
  border-radius: 10px;
  outline: 0;
}
.btn-primary:hover{
  border: 1px solid black;
}
.btn-primary:focus{
  border: 1px solid black;
  outline: 0;
}
.btn-primary:active{
  outline:0;
  border: 1px solid black;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}
.classify-btns{
  margin-left: 13%;
}
.regression-btns {
  margin-left: -2%;
}
.galaxyClass {
  border: 1px solid black;
  padding: 15px;
  margin-left: 2%;
  background-color: #878991;
  width: 95%;
  border-radius: 15px;
}
.index {
  width: 95%;
}
.galaxy {
  margin-top: 15px;
  border-radius: 15px;
  border: 1px solid gray;
  box-shadow: 2px 2px 3px #333;
}
.panel {
  border-radius: 15px;
  box-shadow: 2px 2px 3px #333;
}
.panel-heading {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #101010; 
  text-shadow: 3px 3px 3px #333333;
}
.team, .featurette-image {
  border-radius: 15px;
  border: 1px solid gray;
  box-shadow: 2px 2px 3px #333;
}
.img-circle {
  border: 1px solid gray;
  box-shadow: 2px 2px 3px #333;
}
.fa {
  opacity: 0.8;
}

@keyframes animate {
  0% {
    opacity: 0.7;
  transform: scale(0.8,0.8);
  -ms-transform: scale(0.8,0.8);
  -webkit-transform: scale(0.8,0.8);

  }
  100% {
  opacity: 1;
  transform: scale(1.3,1.3);
  -ms-transform: scale(1.3,1.3);
  -webkit-transform: scale(1.3,1.3);
  }
}

@-webkit-keyframes animate {
  0% {
    opacity: 0.7;
      transform: scale(0.8,0.8);
  -ms-transform: scale(0.8,0.8);
  -webkit-transform: scale(0.8,0.8);
  }
  100% {
  opacity: 1;
  transform: scale(1.3,1.3);
  -ms-transform: scale(1.3,1.3);
  -webkit-transform: scale(1.3,1.3);
  }
}

.fa:hover{
  animation: animate 1s;
  -webkit-animation: animate 1s;
  -webkit-animation-fill-mode: forwards;
}





/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper .container {
/*
    padding-right: 15px;
    padding-left:  15px;*/
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  /*.featurette-heading {
    margin-top: 120px;
  }*/
}
