<div class="container galaxyclass" ng-controller='GalaxyClassController'>
  <div class="content">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Galaxy Morphology Use Case <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Image of galaxy and information about this example</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" src="../images/galaxyFlow.png">
      </div>
    </div>      
  </div>
</div>
