<h2 class="heading">Galaxy Morphology Use Case <span class="text-muted">It'll blow your mind.</span></h2>
            <table class="table">
              <tr>
                <th> Classification </th>
                <th> Percent likelihood </th>
                <th> Example </th>
              </tr>
              <tr>
                <td > Smooth </td>
                <td> 60 % </td>
                <td> <img src="../../images/Smooth.png" /> </td>
              </tr>
              <tr>
                <td > Features or disk </td>
                <td> 20 % </td>
                <td> <img src="../../images/FeaturesOrDisk.png" /> </td>
              </tr>
              <tr>
                <td > Star or artifact </td>
                <td> 20% </td>
                <td> <img src="../../images/StarOrArtifcat.png" /> </td>
              </tr>
              <tr> </tr>