<div>
  <div class="chapterTitle">
    <h2>Chapter 3: Building our 1st Machine and Test Flight</h2>
  </div>
<div class="row">

  <h3 class="pull-right">Our heros set out taking their first pass at training a machine learning algorithm</h4><br><br><br><br>
      <ul>
        <li><h4 class="text-info">Iteration Based Implementation</h4>
          <ul><li>Our heros decided on an iterative (build and fix) model for implementing their first machine learning algorithm. With this model, our heroes hoped to take advantage of quickly gaining a high level view of our project, and gaining more insight on priorities. They were guided by a <a href="http://www.kaggle.com/c/galaxy-zoo-the-galaxy-challenge/forums/t/6803/beating-the-benchmark">forum posting</a> </ul></li></li> and set off in their journey.
        <li><h4 class="text-info">First Features</h4>
          <ul><li>Our heros looked towards our first features to be a broad and wholistic set of data. They cropped the image, and grayscaled the image, using the final output as an initial set of features. This minimal level of complexity allowed for the fewest complications when we had to pass our data to our machine.</ul></li>
        </li></li>
        <li><h4 class="text-info">Using Your Data With Your Machine</h4>
          <ul><li>While our heros were working with images, our machine would not be able to work with raw image data. As a result, our heros seeked <a href="http://effbot.org/imagingbook/pil-index.htm">additional tools</a> to convert our images into a readable format. We saved our new inputs into <a href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV files</a>, making sure our headers and labels were properly aligned. We were off to train our machine.</li></ul></li>
        <li><h4 class="text-info">Inperpreting Your Output</h4>
          <ul><li>A set of training images and answers had been set aside for testing from the beginning. After our machine had been trained, we were able to run predictions, and test our machine's accuracy based on real data. We discovered that, despite our simple sample size, we were still 84% accurate. From here, our heros were able to predict different aspects of our solution in order to get more granular data for testing.</ul></li></li>
</div>

<hr class="featurette-divider">
<div class="row">

  <h3 class="pull-right">Our heros decide on how to start training their ship</h4><br><br><br><br>
      <ul>
        <li><h4 class="text-info">Iteration Based Implementation</h4>
          <ul><li>There are <a href="http://see.stanford.edu/materials/aimlcs229/ML-advice.pdf">two theories</a> behind implementing a machine learning algorithm. The first is through careful planning before implementation. The advantages of this strategy include likely producing a more scalable and elegant algorithm. The dangers of this approach misprioritization, given the task ahead is relatively hazy. Our recommended strategy is a 'build-and'fux" strategy. In this implementation, the goal is to quickly implementa and algorithm, and use extensive testing to determine growth areas. The advantage of this approach is most time is spent on relevant tasks, and it allows for a greater understanding of timelines.</ul></li></li>
        <li><h4 class="text-info">First Features</h4>
          <ul><li>In our first feature extration, the goal is to use a common feature that will provide a good approximation for what you want to do. Common image features are listed <a href="https://en.wikipedia.org/wiki/Feature_extraction#Image_processing">here</a>. Other features include a dictionary of words, etc. Whatever it is, make sure it is something you believe will answer, at a broad level, your question.</ul></li>
        </li></li>
        <li><h4 class="text-info">Using Your Data With Your Machine</h4>
          <ul><li></ul></li></li>
        <li><h4 class="text-info">Inperpreting Your Output</h4>
          <ul><li>Often times there is one test that we're juding ourselves on. Though that is the judgement, we want to examine where we are weak or strong. For example, in classifying galaxies, we found we struggled most in classifying whether our object was a sphere or a spiral, but were near perfect accuracy in determining whether it was an anomoly. In that regards, we were able to generate a greater amount of data to guide us as we entered iteration. <a href="https://class.coursera.org/ml-003/lecture/67">This guide on error testing was a great resource for us</a></ul></li></li>
</div>
