<div class = "container index">
  <div class="chapterTitle">
    <h2>Chapter 3: Building our 1st Machine and Test Flight</h2>
  </div>
<div class="row">

  <h3>Our heroes set out taking their first pass at training a machine learning algorithm</h4><br>
      <ul>
        <li><h4 class="text-info">Iteration Based Implementation</h4>
          <ul><li>Our heroes decided on an iterative (build and fix) model for implementing their first machine learning algorithm. With this model, our heroes hoped to take advantage of quickly gaining a high-level view of our project and gaining more insight on priorities. They were guided by a <a href="http://www.kaggle.com/c/galaxy-zoo-the-galaxy-challenge/forums/t/6803/beating-the-benchmark">forum posting</a> and set off on their journey.</ul></li>
          <li><h4 class="text-info">First Features</h4>
          <ul><li>Our heroes viewed the first features as a broad and wholistic set of data. They cropped and grayscaled the images, using the output as an initial set of features. This minimal level of complexity allowed for the fewest complications when they had to pass this data to their machine.</ul></li>
        </li></li>
          <li><h4 class="text-info">Using your Data with your Machine</h4>
          <ul><li>While our heroes were working with images, their machine would not be able to work with raw image data. As a result, our heroes sought <a href="http://effbot.org/imagingbook/pil-index.htm">additional tools</a> to convert the images into a readable format. They saved these new inputs into <a href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV files</a>, making sure the headers and labels were properly aligned. They were off to train their machine.</li></ul></li>
        <li><h4 class="text-info">Interpreting your Output</h4>
          <ul><li>A set of training images and answers had been set aside for testing from the beginning. After the machine had been trained, they were able to run predictions and test their machine's accuracy with real data. They discovered that despite their small sample size, they were still 84% accurate. From here, our heroes were able to predict different aspects of our solution in order to get more granular data for testing.</ul></li></li>
</div>

<hr class="featurette-divider">
<div class="row">

  <h3 class="pull-right">Lessons Learned and Discovered Best Practices</h4><br><br><br><br>
      <ul>
        <li><h4 class="text-info">Machine Learning Implementation</h4>
          <ul><li>There are <a href="http://see.stanford.edu/materials/aimlcs229/ML-advice.pdf">two theories</a> behind implementing machine learning algorithms. The first theory requires careful planning and can produce a more scalable and elegant algorithm. The danger of this approach is that it can lead to misprioritization of work, as the task ahead is still relatively hazy. Our strategy was a "build-and-fix" strategy. In this implementation, the goal is to implement an algorithm quickly and use extensive testing to identify areas to improve. The advantage of this approach is that more time is spent on relevant tasks.</ul></li></li>
        <li><h4 class="text-info">First Features</h4>
          <ul><li>In the first feature extraction, the goal is to use a feature set that can provide a good approximation for the question you ask. Common image features are listed <a href="https://en.wikipedia.org/wiki/Feature_extraction#Image_processing">here</a>. Among other data sets, common features may look like a dictionary of related words or common attributes.</ul></li>
        </li></li>
        <li><h4 class="text-info">Using your Data with your Machine</h4>
          <ul><li>Your machine will require data input to be in a consistent style. Headers, footers and labels are common formatting decisions that should be set as standards for your project. Deciding how you want your input data to be formatted will dictate which tools you will use for data manipulation. Some of our favorite tools include <a href="http://pandas.pydata.org/">pandas</a>and <a href="http://www.numpy.org/">numpy</a></ul></li></li>.
        <li><h4 class="text-info">Interpreting your Output</h4>
          <ul><li>When interpreting your output, it is useful to measure your success and also be able to assess where your algorithm is weak. We developed error testing algorithms to get a more granular look at our data. We discovered that, our algorithm was weakest when classifying sphere and spiral galaxies, but very precise in identifying galactic anomalies. We were able to use these granular outputs to further guide future iterations. <a href="https://class.coursera.org/ml-003/lecture/67">This guide on error testing was a great resource for us.</a></ul></li></li>
</div>