<head>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>

    <style>
.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.vis {
  border: 1px solid black;
}
.path {
  fill: steelblue;
}
.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

</style>


</head>

<body ng-app="galaxyApp">
  <br/><br/><br/><br/>
  <visualization>
    <features>
      All machine learning algorithms take inputs that describe the data we are trying to analyze. These descriptors are often called input "features". A random forest learning algorithm will take a random sampling of the features and feed them into a decision tree:
      <br/>
    </features>
    <br/>
    <random-forest></random-forest>
  </visualization>
</body>
