<div class="container contact" ng-controller='ContactController'>

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">The Team<span class="text-muted">Info</span></h2>
    </div>
      <p class="lead">More info</p>
  </div>


</div>

<script src="../../styles/bootstrapDist/js/bootstrap.min.js"></script>
<script src="../../styles/bootstrapIndexAssets-js/docs.min.js"></script>

