<div class="container contact">
  <br><br><br><br><br>
 <div class="row">
  <div class="subNav">
    <a ng-click="subPage='../views/partials/mlintro.html'">Overview</a> |
    <a ng-click="subPage='../views/partials/dataExplaination.html'">Data</a> |
    <a ng-click="subPage='../views/partials/randomForests.html'">Research</a> |
    <a ng-click="subPage='../views/partials/iterationAndTesting.html'">1st Iteration/Testing</a> |
    <a ng-click="subPage='../views/partials/improvingYourAlgorithm.html'">Improving your Algorithm</a>
  </div>

  <div class = "feature">
    <div class="default">
      
    </div>
    <ng-include src="subPage"></ng-include>
  </div>
  </div>
</div>

<script>
  $('a').on('click', function() {
    $('.default').empty();
  });
</script>