<a name="top"></a>

<div class="container index"><br><br><br><br><br>
   <div class="row">
    <div class="subNav">
      <ul class="nav" id="guideNav">
        <li><a href="/theGuide/ourOrigins" id="origins">Our Origins</a></li> |
        <li><a href="/theGuide/discoveringOurData" id="dataDiscovery">Discovering Our Data</a></li> |
        <li><a href="/theGuide/plottingOurCourse" class="one" id="researching">Plotting Our Course</a>
         </li> |
        <li><a href="/theGuide/testFlight" id="testFlight">Building our 1st Machine and Test Flight</a></li> |
        <li><a href="/theGuide/optimizing" id="optimizing">Optimizing Our Machine and Travelling Into Space</a></li><br/>
      </ul>
    </div>
    <div class = "feature">
            <ng-include src="subPage" [onload=""]></ng-include>
      <div class = "default">

      </div>
    </div>
    <div class="topLink">
    <a href="#top" onclick="window.location.hash = hash;">Back To Top</a>
    </div>
  </div>
</div>
<script src="../../styles/bootstrapDist/js/bootstrap.min.js"></script>
<script src="../../styles/bootstrapIndexAssets-js/docs.min.js"></script>
<script src="../../scripts/regression.js"></script>
<script src="../../scripts/classification.js"></script>
<script src="../../scripts/hypothesis.js"></script>
<script>
  $('.subNav').on('click', function() {
    $('.default').empty();
  });
  $('a.one').hover(function() {
    $('.dropdown').slideDown();
  });
  $('.dropdown').on('mouseleave', function() {
    $('.dropdown').slideUp();
  });
</script>