<div class="container contact" ng-controller='AlgorithmsController'>
  <br><br><br><br><br>
 <div class="row">
  <div class='algo col-lg-4'>
    <img class="img-circle" alt="140x140" src="../../images/machine-learning.jpg" style="width: 140px; height: 140px;">
   <h2>Machine Learning</h2>
    <p>A simple introduction to regression, classification, and training algorithms on data sets.</p>
    <p><a class='btn btn-default' href='/mlintro' role='button'>View Details</a>
  </div>
  <div class='algo col-lg-4'>
    <img class="img-circle" alt="140x140" src="../../images/Forest.jpg" style="width: 140px; height: 140px;">
      <h2>Random Forests</h2>
      <p>See an visualized example of how our Random Forest algorithm works</p>
    <p><a class='btn btn-default' href='/randomForests' role='button'>View Details</a>
  </div>
</center>
 </div>
</div>
